<div class="@_class">
    @if (IsLeft)
    {
        <div style="color: #935bd8;">@UserName</div>
    }
    <div>@Text</div>

    <div class="message-timestamp" style="@_timeStampStyle">@TimeStamp</div>
</div>