@using Domain.Enums;

@if (Message is not null && LoggedUser is not null)
{
    <div class="@_class" @oncontextmenu="OnContextMenuClick" @oncontextmenu:preventDefault="true">
        @if (_isLeft)
        {
            <div style="color: #935bd8;">@Message.User?.Name</div>
        }

        @{
            switch (_type)
            {
                case MessageTypeEnum.PlainText:
                    <div>@Message.Text</div>
                    break;

                case MessageTypeEnum.GIF:
                    break;

                case MessageTypeEnum.Image:
                    <img src="@Message.Text" style="@_style">
                    break;
            }
        }

        <div class="message-timestamp" style="@_timeStampStyle">@(_timeStamp)</div>
    </div>

    <MessageMenu @ref=_messageMenuRef Message="Message" ChatBox="ChatBox" />
}