@using Domain.Enums;

<style>
    .blur {
        backdrop-filter: blur(10px);
    }
</style>

@if (Message is not null && LoggedUser is not null)
{
    var tempStyle = _type == MessageTypeEnum.PlainText ? "width: fit-content !important;" : "width: min-content !important;";

    <div class="@_class" style=@tempStyle
         @oncontextmenu="OnContextMenuClick" @oncontextmenu:preventDefault="true"
         @onclick="OnClickAsync" @onclick:preventDefault="true">
        @if (_isLeft)
        {
            <div style="color: #935bd8;">@Message.User?.Name</div>
        }

        @{
            switch (_type)
            {
                case MessageTypeEnum.PlainText:
                    <div style=@_style>@Message.Text</div>
                    break;

                case MessageTypeEnum.GIF:
                    <img src="@Message.Text" style=@_style>
                    break;

                case MessageTypeEnum.Image:
                    <img src="@Message.Text" style=@_style>
                    break;
            }
        }
        <div class="d-flex justify-space-between" style="margin-top: 0.25rem;">
            <div style="font-size: 1.2rem; padding: 2px; margin-right: 10px;">
                @{
                    var reactionsTemp = ChatBox.Reactions.Where(x => x.MessageId == Message.Id).ToList();
                    var groupedReactions = reactionsTemp.GroupBy(x => x.Value);

                    foreach (var item in groupedReactions)
                    {
                        if (item.Count() > 1)
                        {
                            <MudBadge Content="item.Count()" Color="Color.Info" Overlap="true" Origin="Origin.TopRight">
                                <span style="margin-right: 0.4rem">@item.Key</span>
                            </MudBadge>
                        }
                        else
                        {
                            <span>@item.Key</span>
                        }
                    }
                }
            </div>
            <div class="message-timestamp" style=@_timeStampStyle>@(_timeStamp)</div>
        </div>
    </div>

    <MessageMenu @ref=_messageMenuRef Message="Message" ChatBox="ChatBox" />
}